/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
body{background-color: rgba(26, 26, 26, 0.401);}
.home_page{
     background-color: rgba(26, 26, 26, 0.401);
    display: grid;
    grid-template-rows: 15vh 1fr 10vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}
/*tool class*/
.relative{
    position: relative;
}
.block{
    display: block;
}
.x2{
     transform: scale(2);
}
.x3{
     transform: scale(3);
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_fluid{
    height: auto;
    width: 100%;
}
.block{
    display: block;
}
.t_center{
 text-align: center;
}
.none{
    display: none;
}
.adapt{min-width: 100%; min-height: 100%; max-width: 100%; max-width: 100%;}
.uppercase{
    text-transform: uppercase;
}
/********************************/
/*-------HEADER UPPER PART------*/
.header_home_page {
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1.8fr 1fr;
    grid-template-areas: "logo"
                         "nav";
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.logo a{
    margin: 0 auto;
    max-height: 100%;
    width: 20%;
}

nav{
    grid-area: nav;
}
ul{
    list-style: none;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.li_active{
    color: rgb(208, 96, 76);
    padding-bottom: 0.4em;
    border-bottom: 0.2em solid rgb(208, 96, 76);
}
nav ul li {
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 0.2em;
  background-color: rgb(208, 96, 76);
  transition: transform 0.4s ease;
}

nav ul li:hover::after {
  transform: translateX(-50%) scaleX(1);
}
nav ul li:hover{
    color: rgb(208, 96, 76);
}
/*-------END HEADER----------------*/
/***********************************/
/*-------MAIN CENTER PART----------*/
main {
    background-color: black;
    color: white;
    grid-area: main;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "hero hero hero"
                         "locations rewiews portfolio";

}
#banner_book_hero{
    grid-area: hero;
    background-image: url('./Assets/img_salon/hair_salon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes book_animation {
    from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
    background-color: rgb(208, 96, 76);
  }
}
.booking{
 text-transform: uppercase;
 font-size: 1.5em;
 padding: 0.5em;
 background-color: rgba(163, 163, 163,0.7);
 cursor: pointer;
}
.booking:hover{
     transform: scale(1.2);
    animation: book_animation 0.4s ease-out forwards;
}
/****rewiews****/
.article_h3, .i_h3{
    text-decoration: underline;
    font-size: 2rem;
    position: absolute;
    top: 5%;
}
#reviews{
    grid-area: rewiews;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.inactive{
    opacity: 0.3;
}
.review{
    padding: 2.5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 65%;
    padding: 10% 2% 45% 2%;
    min-width: 80%;
    margin: 0 2%;
    background-color: rgba(99, 99, 104,0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.description_review{
    margin-top: 1em;
    font-size: 1.5em;
}
.star_container{
    margin: 6% 0 3% 0;
}
.star{
    color:hsl(36, 96%, 62%);
}
.arrow_left{
   padding: 0.5em;
   position: absolute;
   left: 3%;
   opacity: 0.4;  
   cursor: pointer;
   font-size: 2rem;
}
.arrow_right{
   padding: 0.5em;
   position: absolute;
   opacity: 0.4;  
   right: 3%;
   cursor: pointer;
   font-size: 2rem;
}
.arrow_right:hover{opacity: 1;}
.arrow_left:hover{opacity: 1;}
/**locations**/
#locations{ 
    grid-area: locations;
    padding: 0 2.5em;
    display: grid;
    grid-template-rows: auto 1fr;
    gap:1.5em;
    grid-template-areas: "location_header"
                         "location_main"
}
.location_header{grid-area: location_header;}
.location_main{
    grid-area: location_main;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: "location_one"
                          "location_two"
                          "location_three";
    gap: 1.5em

}
.location_one,.location_two,.location_three{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.location_one:hover,.location_two:hover,.location_three:hover{ transform: scale(1.1); font-size: 2.2em;}
.location_one{grid-area: location_one;background-image: url('./Assets/img_salon/hair_salon_cut.JPG'); }
.location_two{grid-area: location_two;background-image: url('./Assets/img_salon/salon_one.jpg')}
.location_three{grid-area: location_three;background-image: url('./Assets/img_salon/salon_two.jpg');}
.relative{position: relative;}.absolute{position: absolute; top:-1em; right: 1em;}
/****portfolio**/
#portfolio{
    padding: 2.5em;
    grid-area: portfolio;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "portfolio_header"
                         "portfolio_main";
}
.portfolio_header{
    grid-area: portfolio_header;
    margin: 1em 0;
    text-transform: uppercase;
}
.portfolio_main{
    grid-area: portfolio_main;
    margin: 0 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "haircut_one haircut_two haircut_three"
                         "haircut_four haircut_five haircut_six";
    gap: 1em;
}
.haircut_one{grid-area: haircut_one;} 
.haircut_two{grid-area: haircut_two;}
.haircut_three{grid-area: haircut_three;}
.haircut_four{grid-area: haircut_four;}
.haircut_five{grid-area: haircut_five;} 
.haircut_six{grid-area: haircut_six;}
.haircut_one:hover,.haircut_two:hover,.haircut_three:hover,
.haircut_four:hover,.haircut_five:hover,.haircut_six:hover{
 transform: scale(1.1); z-index: 10; 
}
/*-------END MAIN------------------*/
/************************git***********/
/*-------FOOTER LOWER PART----------*/
footer {
    border-top: solid black 2em;
    background-color: #A3A3A3;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer_logo footer_copyright";
}
.footer_logo{
    grid-area: footer_logo;
}
.footer_logo img{
    max-width: 45%;
    margin: 0 4em 0 1em;
}
.footer_copyright{
    grid-area: footer_copyright;
    display: flex;
}
.text_copyright{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 min-height: 100%;
 margin: 0 0 0 10rem;
 text-transform: uppercase;
}
.social{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.social:hover{
     transform: scale(1.5);
}

/****************************************************/
/***********SPINNER*+********************************/
/****************************************************/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #D0604B;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/****************************************************/
/***page loading****+********************************/
/****************************************************/
.page_loading{
    min-width: 100vw; 
    min-height: 100vh;
    background-color: #333;
}


/*/////////////////////CONTACT PAGE//////////////////////////////////////////////////////////////////////////////////-->  */
.contact_page{
    min-height: 150vh;
    min-width: 100vw;
    z-index: 100;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr 0.1fr;
    grid-template-areas: "header_contact_page"
                         "main_contact_page"
                         "footer_contact_page";
}
/*..........HEADER..............................*/
.alternative_header{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: "logo nav";
    background-color: black;
    padding: 2rem 0;
}
.header_contact_page{
    grid-area: header_contact_page;
}
@keyframes navRezize{
    0%{
        padding: 2rem;
    }
    50%{
        padding: 1rem;

    }
    100%{
        padding: 0;
    }
}
.logo_contact_header{
    grid-area: logo;
}
.resized{
animation: navRezize linear 0.5s forwards;
}
.resized > *{
  scale: 0.6;
}
.contact_nav{
    grid-area: nav;
}
.contact_nav ul{
    color: white;
    justify-content: space-around;
    font-size: 1.2em;
}
/*..........MAIN..............................*/
.main_contact_page{
    grid-area: main_contact_page;
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 2fr 0.4fr 1fr;
    grid-template-columns:1fr;
    grid-template-areas: "form"
                         "header_separator"
                         "maps"
}
.form_container{
    grid-area: form;
    margin: 10% auto 0 auto;
    width:min-content;
     text-align: justify;
}
.form_container > *{
    margin: 0 0 1em 0;
    font-size: 1.5em;
    line-height: 1.5;
}
.cell_number{
    text-decoration: underline;
    cursor: pointer;
}
.cell_number:hover{
    color: #D0604B;
}
.maps_container{
     grid-area: maps;
     display: grid;
     width: 90%;
     height: 70%;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: "map_one map_two map_three";
     gap: 1em;
     margin: -5% auto;
}
#container_map_one{
    grid-area: map_one; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}
#container_map_two{
    grid-area: map_two; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}
#container_map_three{
    grid-area: map_three; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}
#map_one{height: 65%;}
#map_two{height: 65%;}
#map_three{height: 65%;}
.header_separator{
     grid-area: header_separator;
     height: 35%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.8);
     color: white;
     margin: 1em 0;
}
.contact_form{
    text-align: left;
    padding: 2em 1em;
    display: grid;
    grid-template-rows: 1fr auto 1fr 1fr 1.2fr 0.5fr;
    grid-template-areas: "name_field"
                        "email_field"
                        "location_field"
                        "subject_field"
                        "message_field"
                        "button_field";
    gap: 0.5em;
}
.contact_form input{
  padding: 1% 2%;
}
.contact_form input[type="text"]:focus{
  outline: none;
  border: 3px solid #D0604B;
}
.contact_form select{
    padding: 1% 2%;
    width: 100%;
}

.name_field{ 
    grid-area: name_field;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fn_fld ln_fld";
    gap: 1em;
                         
}
.fn_fld{grid-area: fn_fld;}

.ln_fld{grid-area: ln_fld;}

.email_field{ 
    grid-area: email_field;
}
.email_field input{
    display: block;
    width: 100%;
}
.email_field input:focus{
   outline: none;
  border: 3px solid #D0604B;
}
.location_field{ grid-area: location_field;}
.subject_field{ grid-area: subject_field;}
.message_field{ 
    grid-area: message_field;
    display: flex;
    flex-direction: column;
}
.message_field > label{
    display: block;
    height: fit-content;
}
.message_field > textarea{
    resize: none;
}
.message_field > textarea:focus{
  outline: none;
  border: 3px solid #D0604B;
}
.button_field button{
    padding: 1em;
    background-color: black;
    color: white;
}
.button_field button:hover{
   animation: book_animation 0.4s ease-out forwards;
   color: black;
}

.button_field{ grid-area: button_field;}

/*..........FOOTER..............................*/
.alternative_footer{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "contact_footer_logo locations_footer_contact";
    color: white;
}
.alternative_footer div a{
   max-height: 100%;
}
.contact_footer_logo{
    grid-area: contact_footer_logo;
}
.footer_contact_page{
    grid-area: footer_contact_page;

}
.locations_footer_contact{
    grid-area: locations_footer_contact;
    display: flex;
    justify-content: space-between;
}
.contact_footer_element{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: -5% 3% 0 3% ;
}
/****************************************************/
/***********MODAL PAGE*+******************************************************************************************************************/
/****************************************************/
.modal_page{
    overflow: hidden !important;
    position: fixed;
    top:0;
    left: 0;
    z-index: 5000;
    background-color: rgba(51, 51, 51, 0.9);
    min-width: 100vw;
    min-height: 100vh;
}
.modal_book{
    width: 30%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-areas: "header_modal" 
                         "main_modal";
}
.modal_book figure{
    width: 100%;
    grid-area: header_modal;
}
.main_modal{
    grid-area: main_modal;
    display: grid;
   
}
.modal_location, .modal_services{
     grid-template-rows: 1.5fr 1fr 1fr 1fr 3fr;
     grid-template-areas: "modal_title"
                         "button_1"
                         "button_2"
                         "button_3"
                         "div_close";
}
.modal_services .btn_modal{
    display: flex;
    justify-content: space-evenly;
}
._modal .btn_modal:hover{
    background-color: inherit;
    cursor:inherit;
}
.btn_modal{
    background-color: white;
    border-top: 1px solid black;
}
.btn_modal:hover{
    background-color: rgba(163, 163, 163,0.2);
    cursor: pointer;
}

 .modal_title{ grid-area: modal_title;}
.button_1{ grid-area: button_1;}
.button_2{ grid-area: button_2}
.button_3 {grid-area: button_3; border-bottom: 1px solid black;}
.div_close{ grid-area: div_close}
.div_close button{
    padding: 0.8em 1em;
    background-color: black;
    color: white;
}
.div_close button:hover{
   animation: book_animation 0.4s ease-out forwards;
   color: black;
}
/************MODAL_WHEN*********************************************/
.modal_when{
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "modal_title"
                         "date_field"
                         "time_field"
                         "continue";
    gap: 2em;
    margin-top: 2em;
}
.continue_btn{
    grid-area: continue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    color: white;
    cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.005);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.continue_btn:hover{
    animation: book_animation 0.4s ease-out forwards;
    color: black;
}

.date_field{
    max-width: 100%;
    margin: 0 2%;
    grid-area: date_field;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title title title title"
                         "day_1 day_2 day_3 day_4 day_5 day_6 day_7";
}

.title_day{
    grid-area: title;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.day_1, .day_2, .day_3, .day_4, .day_5, .day_6, .day_7{
    max-width: 100%
    font-size: 0.5em;
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
    cursor: pointer;
}
.day_1:hover, .day_2:hover, .day_3:hover, .day_4:hover, .day_5:hover, .day_6:hover, .day_7:hover{
    background-color: rgba(208, 96, 76, 0.5);
    color: white;
}
.day_1.active_date, .day_2.active_date, .day_3.active_date, .day_4.active_date, .day_5.active_date, .day_6.active_date, .day_7.active_date{     
    background-color: rgb(208, 96, 76);
    color: white;
}
.day_1{
    grid-area: day_1;
}

.day_2{
    grid-area: day_2;
}

.day_3{
    grid-area: day_3;
}

.day_4{
    grid-area: day_4;
}

.day_5{
    grid-area: day_5;
}

.day_6{
    grid-area: day_6;
}

.day_7{
    grid-area: day_7;
}
.time_field{
    max-width: 100%;
    margin: 0 2%;
    grid-area: time_field;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "time_title time_title time_title time_title"
                         "time_1 time_2 time_3 time_4"
                         "time_5 time_6 time_7 time_8"
                         "time_9 time_10 time_11 time_12"
                         "time_13 time_14 time_15 time_16"; 
}
.time_title{
    grid-area: time_title;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.time_1, .time_2, .time_3, .time_4, .time_5, .time_6, .time_7, .time_8,
.time_9, .time_10, .time_11, .time_12, .time_13, .time_14, .time_15, .time_16{
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    border: 1px solid black;
    cursor: pointer;
}
.time_1:hover, .time_2:hover, .time_3:hover, .time_4:hover, .time_5:hover, .time_6:hover, .time_7:hover, .time_8:hover,
.time_9:hover, .time_10:hover, .time_11:hover, .time_12:hover, .time_13:hover, .time_14:hover, .time_15:hover, .time_16:hover{
    background-color: rgba(208, 96, 76, 0.5);
    color: white;
}
.time_1.active_time, .time_2.active_time, .time_3.active_time, .time_4.active_time, .time_5.active_time, .time_6.active_time, .time_7.active_time, .time_8.active_time,
.time_9.active_time, .time_10.active_time, .time_11.active_time, .time_12.active_time, .time_13.active_time, .time_14.active_time, .time_15.active_time, .time_16.active_time{
    background-color: rgb(208, 96, 76);
    color: white;
}
.time_1{
    grid-area: time_1;
}
.time_2{
    grid-area: time_2;
}
.time_3{
    grid-area: time_3;
}
.time_4{
    grid-area: time_4;
}
.time_5{
    grid-area: time_5;
}
.time_6{
    grid-area: time_6;
}
.time_7{
    grid-area: time_7;
}
.time_8{
    grid-area: time_8;
}
.time_9{
    grid-area: time_9;
}
.time_10{
    grid-area: time_10;
}
.time_11{
    grid-area: time_11;
}
.time_12{
    grid-area: time_12;
}
.time_13{
    grid-area: time_13;
}
.time_14{
    grid-area: time_14;
}
.time_15{
    grid-area: time_15;
}
.time_16{
    grid-area: time_16;
}
.noclick {
  pointer-events: none;
  opacity: 0.5; 
}
/****************************************************/
/************MODAL_WORKER*********************************************/
/****************************************************/
.modal_worker{
    margin: 1em auto;
    width: 90%;
    max-height: 80%;
    display: grid;
    grid-template-rows:  1,5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "worker_header"
                         "worker_1"
                         "worker_2"
                         "worker_3"
                         "worker_4"
                         "worker_5"
                         "worker_6";
}
.modal_worker .modal_title{
    grid-area: worker_header;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
.worker_1, .worker_2, .worker_3, .worker_4, .worker_5, .worker_6{
    display: grid;
    grid-template-columns: 15% 1fr auto;
    grid-template-areas: "worker_image worker_name worker_price";
}
.worker_image{
    grid-area: worker_image;
    display: flex;
    justify-content: center;
    align-items: center;
}
.worker_image img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.worker_name{
    grid-area: worker_name;
}
.worker_price{
    grid-area: worker_price;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(208, 96, 76);
    padding: 0 0.8em;
}

.worker_1{
    grid-area: worker_1;
}
.worker_2{
    grid-area: worker_2;
}
.worker_3{
    grid-area: worker_3;
}
.worker_4{
    grid-area: worker_4;
}
.worker_5{
    grid-area: worker_5;
}
.worker_6{
    grid-area: worker_6;
    border-bottom: 1px solid black;
}
/*-------END MODAL_epilogue------------------*/
/****************************************************/
.modal_final_form{
    display: grid;
    height: 60%;
    grid-template-rows: auto 1fr 2fr auto ;
    grid-template-areas: "final_header"
                         "final_epilogue"
                         "final_form"
                         "final_button";
    gap: 1em;
    margin: 2em auto;
    width: 90%;
}
.final_button{
    grid-area: final_button;
    display: flex;
    justify-content: center;
}

.modal_final_form .modal_title{
    grid-area: final_header;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.final_form{
    grid-area: final_form;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "final_name"
                         "final_surname"
                         "final_email"
                         "final_cell";
                         
    gap: 0.5em;
}

.epilogue{
    grid-area: final_epilogue;
    min-width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "eplg_loc eplg_hairdr"
                         "eplg_serv eplg_price";
}

.eplg_loc{
    grid-area: eplg_loc;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    padding-top: 1.5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: black;
}
.eplg_hairdr{
    grid-area: eplg_hairdr;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;    padding-top: 1.5em;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "legend legend"
                         "img chosen";
}
.eplg_hairdr strong{
    grid-area: legend;
}
.eplg_hairdr img{
    grid-area: img;
    padding: 10%;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.eplg_hairdr p{
    grid-area: chosen;
    display: flex;
    align-items: center;
    margin-left: 2em;
}
.eplg_serv{
    grid-area: eplg_serv;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: black;
}
.eplg_price{
    grid-area: eplg_price;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: black;
}

.inputForm_modal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact_page.none{
    display: none;
}
.modal_page.none{
    display: none;
}
.about_page.none{
    display: none;
}
.services_page.none{
    display: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////ABOUT PAGE//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
.about_page {
  min-width: 100vw;
  z-index: 100;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header_about_page"
    "main_about_page"
    "footer_about_page";
}
.footer_about_page{
    grid-area: footer_about_page;
}
.about_page ul {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}

.header_about_page {
  grid-area: header_about_page;
  position: inherit;
  z-index: 10;
}

.main_about_page {
  grid-area: main_about_page;
  display: grid;
  grid-template-rows: 1fr 1fr 0.4fr;
  grid-template-areas:
    "hero_pic"
    "presentation"
    "book_app";
}
.book_app{
  grid-area: book_app;
  background-image: url("./Assets/background/background3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.book_app div{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center
}

.hero_pic {
  grid-area: hero_pic;
  min-height: 100%;
  width: 100vw;
  background-image: url("./Assets/hairstylers/staff_original_copy.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 20%;
  background-color:#333; 
  color: white;
}

.presentation {
  background-image: url("./Assets/background/sfondo.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 1) !important;
  grid-area: presentation;
  padding: 2rem;
  color: black;
  text-align: justify;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "presentation_text"
                        "presentation_blocks";
}
.presentation_text{
  margin: 0 auto;
  grid-area: presentation_text;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1.2em;
}
.presentation_text h3{
    padding-bottom: 3%;
    font-size: 1.5em;
}
.presentation_blocks{
    grid-area: presentation_blocks;
    display: flex;
    justify-content: space-around;
}
.presentation_block{
    padding: 2%;
    width: 25%;
    height: 65%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* x, y, blur, colore */
    
}
.btn_book_about{
    background-color: #252620;
    color: #F7F7F7;
    border-color: #F7F7F7;
    border-radius: 100%;
    padding: 0.2em 0.4em;
    font-size: 5em;
}
.book_app div span{
    margin-top: 1em;
    text-align: center;
}
.book_app div span strong{
    font-size: 1.5em;
    color: rgb(208, 96, 76);
    font-weight: 800;
}
.book_app div span strong:hover{
    cursor: pointer;
    font-size: 2.01em;    
}
.btn_book_about:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@keyframes celColor{
    0%{
        color:#D0604B
    }
    50%{
        color: white;

    }
    100%{
        color:#D0604B;
    }
}
.cell_number_about{
    animation: celColor 3s linear infinite, pulse 1s infinite;
}
.cell_number_about:hover{
    cursor: pointer;
}

.footer_about_page {
  grid-area: footer_about_page;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////SERVICES PAGE//////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
.services_page{
    min-height: 200vh;
    min-width: 100vw;
    z-index: 100;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header_services_page"
                         "main_services_page"
                         "footer_services_page";
}
.services_page ul{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}
.header_services_page{
    grid-area: header_services_page;
    position: inherit;
}
.main_services_page{
    grid-area: main_services_page;
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr 2fr  1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "reviewBlockOne reviewBlockTwo reviewBlockThree"
                         "servicesBlock servicesBlock servicesBlock"
                         "album album album"
                         ;
}

.servicesBlock{
 background-image: url("/Assets/background/background3.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 4%;
 grid-area: servicesBlock;
 display: grid;
 place-items: center;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: auto 1fr;
 grid-template-areas: "servicesBlockTitle servicesBlockTitle servicesBlockTitle"
                       "serviceOne serviceTwo serviceThree";
}
.serviceOne{
    grid-area: serviceOne; 
}
.serviceTwo{
    grid-area: serviceTwo;  
}
.serviceThree{
    grid-area: serviceThree;  
}
.servicesBlockTitle{
    grid-area: servicesBlockTitle;
    text-align: center;
    padding: 5% 0;
}
.footer_services_page{
 grid-area: footer_services_page;
}
.orange{
    color: #D0604B;
}
.rwbl{
    background-image: url("/Assets/background/sfondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 1em;
}

.reviewBlockOne{   
 grid-area: reviewBlockOne;   
}
.reviewBlockTwo{
 grid-area: reviewBlockTwo;   
}
.reviewBlockThree{
 grid-area: reviewBlockThree;   
}

.srv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    box-shadow: 0 4px 15px rgba(208, 96, 75, 0.9);
    width: 80%;
    height: 100%;
    background-color: white;
    background-color: #EEF2F2;
    color: black;
}
.srv > :not(img){
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.album {
  padding: 6em 0;
  width: auto;              /* lascia che sia fluido */
  background: url("Assets/background/sfondo.png") no-repeat center/cover;
  grid-area: album;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252620;
}

.container_works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;                 /* spazio tra le immagini */
  width: 90%;               /* o quanto ti serve */
  max-width: 1200px;        /* per non sforare troppo il layout */
  margin: 0 auto;
}

.haircut_gallery {
  flex: 0 1 calc((100% - 5em) / 6); /* 6 elementi tenendo conto dei gap */
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.haircut_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

